.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
    color: white;
    background-color: #1F2937;
    font-size: 18px;
}

#headerLogo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 800;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

a { text-decoration: none; color: white; }
a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:white; }
a:hover, a:active { text-decoration: none; color:white }

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding-top: 64px;
    padding-bottom: 64px;
    gap: 32px;
}

.leftHero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    gap: 14px;
}

.leftHeroTitle {
    font-size: 38px;
    font-weight: 900;
    font-style: bold;
}

.leftHeroTitle2 {
    margin: 0;
    padding: 0;
}

.heroImage {
    width: auto;
    height:231px;
}

.infoTitle {
    color: #1F2937;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    padding: 64px;
}

.infoWrapper{
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
}

.infoContainer {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-bottom: 100px;
    
}

.infoImage {
    height: 150px;
    width: auto;
    border-radius: 25px;
}

.quoteWrapper {
    display: flex;
    justify-content: center;
    padding: 64px;
    background-color: #E5E7EB;
    
}

.quote {
    width: 50%;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.quoteCredit {
    text-align: right;
    font-weight: 800;
}

.callToActionWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 64px;
}

.callToActionContainer {
    background-color: #3882F6;  
    border-radius: 10px;
    width: 800px;
    padding: 32px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.callToActionText {
    margin: 0;
    padding: 0;
}

.callToActionTextTitle {
    font-size: 18px;
    font-weight: 800;
    margin: 0;
    padding: 0;
}

.button {
    border: 1px solid white;
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
    width: 100px;
    height: auto;
}

.button:hover {
    background-color: white; 
    color: #3882F6;
  }

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 32px;
}
