.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 12px;
    color: white;
    background-color: #1F2937;
}

ul {
    display: flex;
    list-style: none;
    gap: 16px;
}

a { text-decoration: none; color: white; }
a:visited { text-decoration: none; color:white; }
a:hover { text-decoration: none; color:white; }
a:focus { text-decoration: none; color:white; }
a:hover, a:active { text-decoration: none; color:white }